body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 9999; /* Ensure the overlay is on top of other content */
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px); /* Apply blur effect to background */
}

#score-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 9999; /* Ensure the overlay is on top of other content */
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px); /* Apply blur effect to background */
    display: none;
}

#play-button {
    color: white;
    background-color: #3d4148;
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
}

#game-container {
    gap: 20px; /* Add some space between the game board and score */
    flex-direction: column;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    gap: 2px;
    border: 2px solid white; /* Border around the game board */
    position: relative;
    z-index: 900;
}

.square {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.red { background-color: red; }
.green { background-color: green; }
.blue { background-color: blue; }
.yellow { background-color: yellow; }
.purple { background-color: purple; }

#game-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#score,#timer,#level {
    font-size: 20px;
    display: inline-block;
}

#game-over {
    font-size: 24px;
    color: white;
    text-align: center;
    position: absolute;
    background-color: rgba(255,0,0,0.8);
    top:50%;
    left:45%;
    padding: 20px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    animation: fadeIn 1s ease forwards;
    z-index: 999;
}

#restart-btn, #save-score {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#restart-btn, #save-score:hover {
    background-color: #555;
}

#scoreboard {
    position: absolute;
    top: 8px;
    right: 16px;
    max-width: 250px;
    border: 2px solid black;
    padding: 10px;
    background-color: #3d4148;
    color: white;
}

#score-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#score-list li {
    margin-bottom: 5px;
}

#score-form {
    position:absolute;
    text-align:center;
    top:25%;
    left:40%;
    animation: fadeIn 1s ease forwards;
    width: 200px;
    background-color: #3d4148;
    border-radius: 10px;
    padding: 20px;
    z-index: 999;
}

#score-form input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    background-color: #444;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
